# Cognifyz Internship
## Level 2
### Task 3: Feature Engineering
Extract additional features from the existing columns, such as the length of the restaurant name or address.
Create new features like "Has Table Booking"or "Has Online Delivery" by encoding categorical variables.

## 1. Importing necessary libraries

In [205]:
import pandas as pd
import numpy as nnp
import warnings
warnings.filterwarnings('ignore')

## 2. Loading dataset

In [208]:
df=pd.read_csv("data.csv")
df.head(5)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270
3,6318506,Ooma,162,Mandaluyong City,"Third Floor, Mega Fashion Hall, SM Megamall, O...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.056475,14.585318,"Japanese, Sushi",...,Botswana Pula(P),No,No,No,No,4,4.9,Dark Green,Excellent,365
4,6314302,Sambo Kojin,162,Mandaluyong City,"Third Floor, Mega Atrium, SM Megamall, Ortigas...","SM Megamall, Ortigas, Mandaluyong City","SM Megamall, Ortigas, Mandaluyong City, Mandal...",121.057508,14.584450,"Japanese, Korean",...,Botswana Pula(P),Yes,No,No,No,4,4.8,Dark Green,Excellent,229

## 3. EDA and Preprocessing

In [211]:
df.dtypes                  # Displays datatype of fields

Restaurant ID             int64
Restaurant Name          object
Country Code              int64
City                     object
Address                  object
Locality                 object
Locality Verbose         object
Longitude               float64
Latitude                float64
Cuisines                 object
Average Cost for two      int64
Currency                 object
Has Table booking        object
Has Online delivery      object
Is delivering now        object
Switch to order menu     object
Price range               int64
Aggregate rating        float64
Rating color             object
Rating text              object
Votes                     int64
dtype: object

In [213]:
df.info()                       # Gives details of null values,count of rows and columns

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9551 entries, 0 to 9550
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Restaurant ID         9551 non-null   int64
 1   Restaurant Name       9551 non-null   object
 2   Country Code          9551 non-null   int64
 3   City                  9551 non-null   object
 4   Address               9551 non-null   object
 5   Locality              9551 non-null   object
 6   Locality Verbose      9551 non-null   object
 7   Longitude             9551 non-null   float64
 8   Latitude              9551 non-null   float64
 9   Cuisines              9542 non-null   object
 10  Average Cost for two  9551 non-null   int64
 11  Currency              9551 non-null   object
 12  Has Table booking     9551 non-null   object
 13  Has Online delivery   9551 non-null   object
 14  Is delivering now     9551 non-null   object
 15  Switch to order menu  9551 non-null   object
 16  Price range           9551 non-null   int64
 17  Aggregate rating      9551 non-null   float64
 18  Rating color          9551 non-null   object
 19  Rating text           9551 non-null   object
 20  Votes                 9551 non-null   int64
dtypes: float64(3), int64(5), object(13)
memory usage: 1.5+ MB

In [215]:
df.shape                                 # No of rows and columns

(9551, 21)

In [217]:
df.describe()                         # Gives statistical summary

,Restaurant ID,Country Code,Longitude,Latitude,Average Cost for two,Price range,Aggregate rating,Votes
count,9.551000e+03,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000,9551.000000
mean,9.051128e+06,18.365616,64.126574,25.854381,1199.210763,1.804837,2.666370,156.909748
std,8.791521e+06,56.750546,41.467058,11.007935,16121.183073,0.905609,1.516378,430.169145
min,5.300000e+01,1.000000,-157.948486,-41.330428,0.000000,1.000000,0.000000,0.000000
25%,3.019625e+05,1.000000,77.081343,28.478713,250.000000,1.000000,2.500000,5.000000
50%,6.004089e+06,1.000000,77.191964,28.570469,400.000000,2.000000,3.200000,31.000000
75%,1.835229e+07,1.000000,77.282006,28.642758,700.000000,2.000000,3.700000,131.000000
max,1.850065e+07,216.000000,174.832089,55.976980,800000.000000,4.000000,4.900000,10934.000000

In [219]:
df.columns                  # Displays columns names

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [221]:
for col in df.select_dtypes('object'):                                   # For removing special characters
    df[col]=df[col].str.replace(r'[^a-zA-Z0-9,()]+',"",regex=True)

In [222]:
df.isnull().sum()                                         # Checking for null values

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [225]:
df['Cuisines']=df['Cuisines'].fillna(df['Cuisines'].mode()[0])        # Imputing null values in field 'Cuisines' with mode

In [227]:
df.isnull().sum()                                                     # Rechecking for null values

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                0
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [229]:
df.duplicated().sum()                                # Check for duplicate rows

0

In [231]:
df['Cuisines']=df['Cuisines'].str.split(',')         # Field cuisines has multiple value stored as single string, same is split using split function.
df=df.explode('Cuisines')                            # Separate row for each cuisine is created using explode function
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,French,...,BotswanaPula(P),Yes,No,No,No,3,4.8,DarkGreen,Excellent,314
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Japanese,...,BotswanaPula(P),Yes,No,No,No,3,4.8,DarkGreen,Excellent,314
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Desserts,...,BotswanaPula(P),Yes,No,No,No,3,4.8,DarkGreen,Excellent,314
1,6304287,IzakayaKikufuji,162,MakatiCity,"LittleTokyo,2277ChinoRocesAvenue,LegaspiVillag...","LittleTokyo,LegaspiVillage,MakatiCity","LittleTokyo,LegaspiVillage,MakatiCity,MakatiCity",121.014101,14.553708,Japanese,...,BotswanaPula(P),Yes,No,No,No,3,4.5,DarkGreen,Excellent,591
2,6300002,HeatEdsaShangriLa,162,MandaluyongCity,"EdsaShangriLa,1GardenWay,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity,Mandaluy...",121.056831,14.581404,Seafood,...,BotswanaPula(P),Yes,No,No,No,4,4.4,Green,VeryGood,270

## 4. Feature Engineering

In [234]:
df.drop(columns='Switch to order menu',inplace=True)                # Dropping field 'Switch to order menu' as it does not contribute anything towards analysis

In [236]:
df.rename(columns={'Aggregate rating':'Target'},inplace=True)      # Aggregate rating the target varibale is renamed as Target for better readability.
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,Average Cost for two,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Target,Rating color,Rating text,Votes
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,French,1100,BotswanaPula(P),Yes,No,No,3,4.8,DarkGreen,Excellent,314
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Japanese,1100,BotswanaPula(P),Yes,No,No,3,4.8,DarkGreen,Excellent,314
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Desserts,1100,BotswanaPula(P),Yes,No,No,3,4.8,DarkGreen,Excellent,314
1,6304287,IzakayaKikufuji,162,MakatiCity,"LittleTokyo,2277ChinoRocesAvenue,LegaspiVillag...","LittleTokyo,LegaspiVillage,MakatiCity","LittleTokyo,LegaspiVillage,MakatiCity,MakatiCity",121.014101,14.553708,Japanese,1200,BotswanaPula(P),Yes,No,No,3,4.5,DarkGreen,Excellent,591
2,6300002,HeatEdsaShangriLa,162,MandaluyongCity,"EdsaShangriLa,1GardenWay,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity,Mandaluy...",121.056831,14.581404,Seafood,4000,BotswanaPula(P),Yes,No,No,4,4.4,Green,VeryGood,270

In [238]:
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Price range', 'Target',
       'Rating color', 'Rating text', 'Votes'],
      dtype='object')

In [240]:
df['Name_Length'] = df['Restaurant Name'].str.len()          # New column Name_Length is created that displays length of restaurant name

In [242]:
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Price range,Target,Rating color,Rating text,Votes,Name_Length
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,French,...,BotswanaPula(P),Yes,No,No,3,4.8,DarkGreen,Excellent,314,14
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Japanese,...,BotswanaPula(P),Yes,No,No,3,4.8,DarkGreen,Excellent,314,14
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Desserts,...,BotswanaPula(P),Yes,No,No,3,4.8,DarkGreen,Excellent,314,14
1,6304287,IzakayaKikufuji,162,MakatiCity,"LittleTokyo,2277ChinoRocesAvenue,LegaspiVillag...","LittleTokyo,LegaspiVillage,MakatiCity","LittleTokyo,LegaspiVillage,MakatiCity,MakatiCity",121.014101,14.553708,Japanese,...,BotswanaPula(P),Yes,No,No,3,4.5,DarkGreen,Excellent,591,15
2,6300002,HeatEdsaShangriLa,162,MandaluyongCity,"EdsaShangriLa,1GardenWay,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity,Mandaluy...",121.056831,14.581404,Seafood,...,BotswanaPula(P),Yes,No,No,4,4.4,Green,VeryGood,270,17

In [244]:
df['Address_length']=df['Address'].str.len()           # New column Address_length is created that has length of address
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Has Table booking,Has Online delivery,Is delivering now,Price range,Target,Rating color,Rating text,Votes,Name_Length,Address_length
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,French,...,Yes,No,No,3,4.8,DarkGreen,Excellent,314,14,62
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Japanese,...,Yes,No,No,3,4.8,DarkGreen,Excellent,314,14,62
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Desserts,...,Yes,No,No,3,4.8,DarkGreen,Excellent,314,14,62
1,6304287,IzakayaKikufuji,162,MakatiCity,"LittleTokyo,2277ChinoRocesAvenue,LegaspiVillag...","LittleTokyo,LegaspiVillage,MakatiCity","LittleTokyo,LegaspiVillage,MakatiCity,MakatiCity",121.014101,14.553708,Japanese,...,Yes,No,No,3,4.5,DarkGreen,Excellent,591,15,58
2,6300002,HeatEdsaShangriLa,162,MandaluyongCity,"EdsaShangriLa,1GardenWay,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity,Mandaluy...",121.056831,14.581404,Seafood,...,Yes,No,No,4,4.4,Green,VeryGood,270,17,48

## 5.Feature Encoding

In [247]:
df['Has Table booking'].unique()

array(['Yes', 'No'], dtype=object)

In [249]:
df['Has Table booking'].map({'Yes':1,'No':0})

0       1
0       1
0       1
1       1
2       1
       ..
9547    0
9548    0
9548    0
9549    0
9550    0
Name: Has Table booking, Length: 19719, dtype: int64

In [251]:
df['Has Online delivery'].unique()               # Field has categorical values and hence same is converted to binary class using map().

array(['No', 'Yes'], dtype=object)

In [253]:
df['Has Online delivery'].map({'Yes':1,'No':0})         # 'Yes' mapped as 1 and 'No' as 0

0       0
0       0
0       0
1       0
2       0
       ..
9547    0
9548    0
9548    0
9549    0
9550    0
Name: Has Online delivery, Length: 19719, dtype: int64

In [255]:
df['Is delivering now'].unique()                            # Field has categorical values and hence same is converted to binary class using map().

array(['No', 'Yes'], dtype=object)

In [257]:
df['Is delivering now'].map({'Yes':1,'No':0})                  # 'Yes' mapped as 1 and 'No' as 0

0       0
0       0
0       0
1       0
2       0
       ..
9547    0
9548    0
9548    0
9549    0
9550    0
Name: Is delivering now, Length: 19719, dtype: int64

Comment :

  - Fields 'Has Table booking','Has Online delivery and 'Is delivering now' are categorical in nature and hence same is converted as binary values using map() functionas model cannot work directly with text.

In [260]:
df['Rating color'].unique()

array(['DarkGreen', 'Green', 'Yellow', 'Orange', 'White', 'Red'],
      dtype=object)

In [262]:
df['Rating text'].unique()

array(['Excellent', 'VeryGood', 'Good', 'Average', 'Notrated', 'Poor'],
      dtype=object)

In [264]:
df=pd.get_dummies(df,columns=['Rating color','Rating text'],drop_first=True) # The fields 'Rating color' and 'Rating text ' are categorical values.
                                                                             # Ml models cannot work directly with text and hence OneHotEncoding is performed for the features.
df.head()

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Rating color_Green,Rating color_Orange,Rating color_Red,Rating color_White,Rating color_Yellow,Rating text_Excellent,Rating text_Good,Rating text_Notrated,Rating text_Poor,Rating text_VeryGood
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,French,...,False,False,False,False,False,True,False,False,False,False
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Japanese,...,False,False,False,False,False,True,False,False,False,False
0,6317637,LePetitSouffle,162,MakatiCity,"ThirdFloor,CenturyCityMall,KalayaanAvenue,Pobl...","CenturyCityMall,Poblacion,MakatiCity","CenturyCityMall,Poblacion,MakatiCity,MakatiCity",121.027535,14.565443,Desserts,...,False,False,False,False,False,True,False,False,False,False
1,6304287,IzakayaKikufuji,162,MakatiCity,"LittleTokyo,2277ChinoRocesAvenue,LegaspiVillag...","LittleTokyo,LegaspiVillage,MakatiCity","LittleTokyo,LegaspiVillage,MakatiCity,MakatiCity",121.014101,14.553708,Japanese,...,False,False,False,False,False,True,False,False,False,False
2,6300002,HeatEdsaShangriLa,162,MandaluyongCity,"EdsaShangriLa,1GardenWay,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity","EdsaShangriLa,Ortigas,MandaluyongCity,Mandaluy...",121.056831,14.581404,Seafood,...,True,False,False,False,False,False,False,False,False,True